<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="check_status">
        <observer name="status" instance="Magenest\Promotion\Observer\CheckStatusToSetReceived" />
    </event>
</config>