.selected
{
    background-color:antiquewhite;
}
.dot {
    height: 20px;
    width: 20px;
    background-color: #ff5501;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 535px;
    text-align: center;
    color: #ffffff;
}

